@model HIENMAUNHANDAO.ViewModel.DanhSachDKTCChiTietViewModel
@{
    Layout = "Layout_GDNH";
}

@{
    var thongBao = @Model.thongBao;

}
<style>
    table {
    border-collapse: collapse; 
    width: 100%;
    }

    .donation-table th, .donation-table td {
    padding: 4px 8px;
    margin: 0;
    border: 1px solid #ddd; 
    }
</style>

<link rel="stylesheet" href="~/css/gdnh/xemDanhSachDKTCHM.css" />

<section class="feedback-section" style="width:110%">
    <partial name="_AlertMessageSuccess" />
    <partial name="_AlertMessageError" />
    <div class="container">
        <div class="row">
            <!-- Donation Announcement Card -->
            <div class="col-12">
                <div class="donation-card">
                    <img src="~/img/logo/favicon_ic_web.png" alt="Red Cross Logo" class="logo">
                    <h2>THÔNG BÁO ĐĂNG KÝ TỔ CHỨC HIẾN MÁU</h2>
                    <p>Id thông báo: <span class="info">@thongBao.IdThongBaoDk</span></p>
                    <p> <strong><i class="fas fa-bullhorn me-2"></i> Thông báo: </strong> <span class="info"> @thongBao.TieuDe (@thongBao.TgBatDauDk.ToString("dd/MM/yyyy HH:mm") đến @thongBao.TgKetThucDk.ToString("dd/MM/yyyy HH:mm"))</span></p>
                    <p> <strong>Đơn vị tổ chức: </strong> <span class="info"> Trung tâm truyền máu-huyết học Đà Nẵng</span></p>
                    <p><strong>Thời gian đăng kí:</strong> <span class="info"> Đăng kí trước ngày @thongBao.HanDangKi.ToString("dd/MM/yyyy HH:mm")</span></p>
                    <p><strong>Số lượng người đăng kí tối đa:</strong> <span class="info"> @thongBao.SoLuongHien Đơn vị máu</span></p>
                    <p>
                        <strong>1. Thông tin đơn vị tổ chức: </strong><span class="info">
                            Trung tâm Huyết học - Truyền máu Đà Nẵng,
                            Phạm Thị Ngọc Ánh - Điện thoại: 0982739833 - Email: huyethoc.truyenmaudanang@gmail.com
                        </span>
                    </p>
                    <p><strong>2. Yêu cầu:</strong> <span class="info"> @thongBao.YeuCau</span></p>
                    <p> <strong>Thời gian tổ chức:</strong> <span class="info"> Từ @thongBao.TgBatDauDk.ToString("dd/MM/yyyy HH:mm") đến @thongBao.TgKetThucDk.ToString("dd/MM/yyyy HH:mm")</span></p>
                </div>
            </div>

            <!-- Volunteer Registration List -->
            <div class="col-12">
                <div class="donation-table">
                    <h3>DANH SÁCH CƠ SỞ TÌNH NGUYỆN ĐĂNG KÝ TỔ CHỨC HIẾN MÁU  (SỐ LƯỢNG CƠ SỞ TN ĐĂNG KÍ: @Model.Count)</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên cơ sở</th>
                                <th>Ngày đăng ký</th>
                                <th>Email</th>
                                <th>Trạng thái đăng ký</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DanhSachDangKy.Count; i++)
                            {
                                var item = Model.DanhSachDangKy[i];
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@item.IdCoSoTinhNguyenNavigation.TenCoSoTinhNguyen</td>
                                    <td>@item.NgayDangKi.ToString("dd/MM/yyyy")</td>
                                    <td>@item.IdCoSoTinhNguyenNavigation.Email</td>
                                    @if(item.TinhTrangDk=="Đã duyệt")
                                    {
                                        <td class="btn-approve">@item.TinhTrangDk</td>
                                    }
                                    else if (item.TinhTrangDk == "Chưa duyệt")
                                    {
                                        <td class="btn-reject" style="background:#64d4ea">@item.TinhTrangDk</td>
                                    }
                                    else
                                    {
                                        <td class="btn-reject">@item.TinhTrangDk</td>
                                    }

                                    @if(item.TinhTrangDk=="Chưa duyệt")
                                    {
                                        <td>
                                            <a asp-controller="GDNHMau"
                                               asp-action="DuyetCoSo"
                                               asp-route-idSuKien="@item.IdSuKien" asp-route-idCoSoTN="@item.IdCoSoTinhNguyen" class="btn btn-approve">Phê duyệt</a>
                                            <a asp-controller="GDNHMau"
                                               asp-action="HuyCoSo"
                                               asp-route-idSuKien="@item.IdSuKien" asp-route-idCoSoTN="@item.IdCoSoTinhNguyen" class="btn btn-reject">Từ chối</a>
                                            <a asp-controller="GDNHMau"
                                               asp-action="XemChiTietDKTC"
                                               asp-route-idSuKien="@item.IdSuKien" asp-route-idCoSoTN="@item.IdCoSoTinhNguyen"
                                               class="btn btn-details">Chi Tiết</a>
                                       
                                        </td>
                                    }
                                    else if(item.TinhTrangDk =="Đã duyệt")
                                    {
                                        <td>
                                            @* <a asp-controller="GDNHMau" *@
                                            @* asp-action="HuyTCDKTC" *@
                                            @* asp-route-idSuKien="@item.IdSuKien" asp-route-idCoSoTN="@item.IdCoSoTinhNguyen" class="btn btn-reject">Từ chối</a> *@

                                            <a asp-controller="GDNHMau"
                                            asp-action="XemChiTietDKTC"
                                            asp-route-idSuKien="@item.IdSuKien" asp-route-idCoSoTN="@item.IdCoSoTinhNguyen"
                                            class="btn btn-details">Chi Tiết</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @* <a asp-controller="GDNHMau" *@
                                            @*    asp-action="DuyetCoSo" *@
                                            @*    asp-route-idSuKien="@item.IdSuKien" asp-route-idCoSoTN="@item.IdCoSoTinhNguyen" class="btn btn-approve">Phê duyệt</a> *@
                                            @* <a asp-controller="GDNHMau" *@
                                            @*    asp-action="HuyTCDKTC" *@
                                            @*    asp-route-idSuKien="@item.IdSuKien" asp-route-idCoSoTN="@item.IdCoSoTinhNguyen" class="btn btn-reject">Từ chối</a> *@
                                            <a asp-controller="GDNHMau"
                                               asp-action="XemChiTietDKTC"
                                               asp-route-idSuKien="@item.IdSuKien" asp-route-idCoSoTN="@item.IdCoSoTinhNguyen"
                                               class="btn btn-details">Chi Tiết</a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>

                    <form action="XemDanhSachDKTC" method="get">
                        <div class="pagination" id="pagination">
                            @for (int i = 1; i <= Model.paging.TotalPage; i++)
                            {
                                <a class="@(Model.paging.PageActive == i ? "active" : "")">@i</a>
                            }
                            <input type="hidden" name="pageActive" id="pageActive" value="@Model.paging.PageActive">
                        </div>
                        <input type="hidden" name="IdThongBao" id="" value="@thongBao.IdThongBaoDk">
                    </form>

                    <script>
                        
                        document.querySelectorAll('.pagination a').forEach(function(anchor) {
                          anchor.addEventListener('click', function(e) {
                            e.preventDefault(); 
                            
                            var pageNumber = this.textContent.trim();

                            document.getElementById('pageActive').value = pageNumber;

                            
                            this.closest('form').submit();
                          });
                        });
                    </script>

                   

                  
                </div>
            </div>
        </div>
    </div>
</section>